:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frame {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    width: 320px;
    height: 497px;
    flex-shrink: 0;
}

.qr-code {
    margin: 16px 16px 24px 16px;
}
.frame img {
    width: 100%;
    border-radius: 10px;
}

.text {
    width: 260px;
    text-align: center;
    margin: 24px 30px;
}

.text h1 {
    color: var(--dark-blue);
    font-size: 22px;
    font-weight: 700;
}

.text p {
    color: var(--grayish-blue);
    font-size: 15px;
    font-weight: 400;
}
@media (min-width: 376px) {
    .frame {
        width: 375px;
        height: 585px;
    }

    .text {
        width: 300px;
    }
}